<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoAutopartes.Properties.Settings.Proyecto_PAVI2021_2daVersionConnectionString"
            connectionString="Data Source=LAPTOP-8NE9T5CM\SQLEXPRESS;Initial Catalog=Proyecto_PAVI2021_2daVersion;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>